.search-msg{
   position: absolute;
   top: 0;
   width: 30%;
   height: 100%;
   display: block;
   background-color: var(--chat);
   border-left: 1px solid var(--border);
   right: 0px;
   overflow: hidden;
   visibility: hidden;
   transition: visibility 100ms;
   min-width: 400px;

   transition: .1s;
   transform-origin: 0 -30%;
   transform: translateX(100%)
}

.search-msg-open{
   visibility: visible;
   transition: .2s;
   transform-origin: 0 -100%;
   transform: translateX(0px)
}

.search-msg .header{
   display: flex;
   height: 59px;
   background-color: var(--head);
   align-items: center;
   justify-content: flex-start;
}

.header .close{
   margin: 6%;
   cursor: pointer;
}

.header .pesq-msg{
   color: var(--letter);
   font-size: 16px;
}


.search-aside input::placeholder{
   
   font: inherit;
   font-weight: bolder;
   letter-spacing:-0.5px;
   
 }

.search-msg .result-search{
   display: flex;
   justify-content: center;
   background-color: rgb(19,28,33);
   height: 100%;
  
}

.result-search .label{
  
   margin-top: 70px;
   color: var(--letter);
   font-size: 14px;
   color: #a1abb4;
   font-weight: 500;
  
} 

