.header{
    grid-area: header;
    background-color: var(--head);
    display: flex;
    justify-content: space-between;
    height: 59px;
  }

  .info-chat{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 290px;
    
  }
  
  .img-perfil-chat img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
  }
  
  .info-chat .info{
   min-width:200px;
  
  }
  
  .info-chat .info h1{
    font-size: 100%;
    color: var(--letter);
    font-weight: 700;
  }
  
  .info-chat .info .span{
    font-size: 0.8em;
    color: #a1abb4;
    font-weight: 500;
   
  
  }

  

.icons-chat{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 13%;
  }