.login {
    height: 100%;
    width: 100%;
    background-color: rgb(19, 28, 33);
}

.login-header {
    background-color: var(--verde);
    height: 33%;
 
}

.login-header .login-header-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    top: 35px;
    left: 35px
}

.login-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

form div {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;

}

form div p{
    margin-left: 10px;
}


.barra{
    background-color: transparent;
    display: flex;
    width: 90%;
    height: 4px;
    
    margin-bottom: 10px;
  }

.barra .span{
    background-color: var(--verde);
    height: 100%;
    width: 0px;
    transition: width 6.1s ;
}


.login-container form input {
    width: 100%;
    margin: 10px;
    border: none;
    padding: 15px;
    border-radius: 4px;
    background-color: var(--head);
    color: #fff;
    box-shadow: 0px 0px 0.5px 0px #181717;
}

form svg{
    cursor: pointer;
}

form .adft{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input#status{
    padding-bottom: 80px;
    padding-top: 10px;
   
}

.login-container form button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--verde);
    color: #fff;
    cursor: pointer;
}