.login {
    height: 100%;
    width: 100%;
    background-color: rgb(19, 28, 33);
}

.login-header {
    background-color: var(--verde);
    height: 33%;
}

.login-header .login-header-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    top: 35px;
    left: 35px
}

.login-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container form.login-form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
}

form.login-form div {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

form.login-form div p {
    width: 70%;
    float: left;
    text-align: start;
    margin-bottom: 15px;
    color: var(--head);
    font: inherit;

}

.barra {
    background-color: transparent;
    display: flex;
    width: 90%;
    height: 4px;
    margin-bottom: 10px;
}

.barra > .span {
    background-color: var(--verde);
    height: 100%;
    width: 0px;
    transition: width 6.1s;
}

.login .enviando {
    visibility: hidden;
}

.login-container form.login-form .input-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.login-container form.login-form input:first-child {
    width: 15%;
    border: none;
    padding: 10px 5px;
    border-bottom: 2px solid var(--verde);
    color: black;
    text-align: left;
}

.login-container form.login-form input:first-child:-moz-placeholder {
    color: black;

}

.login-container form.login-form input#phone {
    width: 100%;
    margin-left: 10px;
    border: none;
    padding: 10px 5px;
    /* border-radius: 4px; */
    background-color:transparent;
    border-bottom: 2px solid var(--verde);
}

.login-container form.login-form input#codigo{
    width: 80%;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--verde);
}
.login-container form.login-form input#codigo::-webkit-input-placeholder  {
    text-align: center;
    width: 100%;
    font-size: 2em;
    letter-spacing: 10px;

}

form.login-form .adft {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

}
form.login-form .adft > img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.login-container .adft > span{
    margin-left: 20px;
    text-align: start;
    color: var(--head);
    font-weight: 500;
}

.login-container form.login-form input#name, #status{
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--verde);
    padding: 15px 10px;
}

form.login-form input#imgUser {
    display: none;
}


form.login-form label{
    position: absolute;
    background-color: rgba(97, 97, 97, 0.63);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    line-height: 3.5;
    opacity:0;
    cursor: pointer;
    top: 4px;
    left: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
form.login-form label > img{
  height: 25px;
  width: 25px;
  margin-top: 13px;
  opacity: 0.6;
}
form.login-form label > span{
    height: 10px;
    width:100%;
    margin-top: -20px;
    font-size: 15px;
    color: white;
    font-weight: 400;
    opacity: 0.8;
}
form.login-form label:hover{
    opacity:1;
}

form.login-form svg {
    cursor: pointer;
    width: 80px;
    
  
}



.login-container form button {
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--verde);
    color: #fff;
    cursor: pointer;
}

@keyframes pass {
    0% {
        left: 0px;
    }
    100% {
        left: 500px;
    }
}