.type-area{
    grid-area: typeArea;
    display: flex;
    background-color: var(--type-area);;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .type-area .input{
    width: 90% ;
    padding: 11px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--input);
    color: var(--letter);
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
  }
  
  .type-area-icons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 10%;
      margin: 9px;  
  }
  
  .type-area .icon-microfone{
      display: flex;
      width: 7%;
      justify-content: center;
  }

  .type-area .icon-enviar{
    display: none;
    width: 7%;
    justify-content: center;
}
  
  .icons-aside{ 
    width: 35%; 
    display: flex; 
    align-self: center; 
    justify-content: space-around; } 