.icons-clip{
    position: absolute;
    display: none;
    flex-direction: column;
    bottom: 60px;
    left: 33%;

}

.icons-clip .icon{   
    margin: 7px;
    animation: iconAni 700ms normal both;
    transform-origin: 25px 90px;
    cursor: pointer;

}