.item-conversa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--letter);
  height: 73px;
  padding: 0 10px;
  cursor: pointer;
}

.item-conversa.active {
  background-color: rgba(146, 146, 148, 0.212);
}

.item-conversa:hover {
  background-color: rgba(146, 146, 148, 0.212);
}

.img-chat, .perfil-chat, .nome-chat {
  pointer-events: none;
}

.img-chat {
  margin-right: 15px;
}

.perfil-chat {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  border-bottom: 1px solid var(--border);
  overflow: hidden;
}

.item-conversa .img-chat img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.perfil-chat .nome-chat {
  overflow: hidden;
}

.perfil-chat .nome-chat h1 {
  font-size: 1.1em;
  font-weight: 400;
}

.perfil-chat .nome-chat span {
  font-size: 0.9em;
  overflow: hidden;
}

.item-conversa .hora-chat {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 10;
}