
:root{
    --head:#282f33;
    --chat:#1e2325;
    --border:rgba(69, 81, 87, 0.8);
    --icons:#a1abb4;
}

.container{
  height: 100%;
  display: grid;
  grid-template-areas: "aside header"
                       "aside    main"
                        "aside   typeArea";
  grid-template-columns: 30% 1fr;                      
  grid-template-rows:9.5% 81% 9.5% ;
}

.header{
  grid-area: header;
  background-color: var(--head);
  display: flex;
}

.aside{
  grid-area: aside;
  background-color: var(--chat);
  border-right: 1px solid var(--border);
}

.aside .headAside{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9.5%;
  background-color: var(--head);
  
}

.main{
  grid-area: main;
  background-image: url("./assets/images/bg-chat.png");
  background-size: contain;
}

.typeArea{
  grid-area: typeArea;
  background-color: var(--head);
}

.imgPerfil{

  width: 50%;
}

.imgPerfil img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.iconsAside{
  width: 35%;
  
  display: flex;
  align-self: center;
  justify-content: space-around;
  
}

div svg{
  color: var(--icons);
}

.infoChat{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  color: aliceblue;
}

.iconsChat{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}